body{
background-image:url("https://i.pinimg.com/236x/59/87/d7/5987d7281c1a75cd8b9b17fea9775e0e.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position:center;
}

h1{
color:red;
}

#blue{
color:blue;
}

#green{
color:green;
}

h2{
color:red;
}